repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        entry: ruff check
        language: system
        types: [python]
      - id: black-check
        name: black --check
        entry: black --check
        language: system
        types: [python]
